 @import 'media';
 
 .promo {
        padding-bottom: 20px;
        min-height: 550px;
        background-image: linear-gradient(#d45179, #9143c6);
        &__title {
            color: #fff;
            font-size: 35px;
            text-align: center;
            padding-top: 20px;
        }
        
        &__photo {
            padding-top: 30px;
            text-align: center;
        }
        &__descr {
            padding-top: 20px;
            color: #fff;
            font-size: 20px;
            text-align: center;
            span {
                color: black;
                font-weight: bold;
            }
        }
        &__languages {
            margin-top: 20px;
           text-align: center;
        }
}

.photo_wrapper {
    display: flex;
    justify-content: space-around;
}

.whatsapp {
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    text-align: center;
    
    &__descr {
        display: block;
        margin: 0 auto;
        width: 50%;
        span{
            font-weight: bold;
        }

    }
}

.btn {
    margin-top: 20px;
    height: 45px;
    width: 254px;
}

p {
    margin-top: 10px;
}

.footer {
    min-height: 40px;
    background-color: #252525;
    &__phone {
        padding-top: 10px;
        color:white;
        text-align: center;
    }
}

.language__btn {
    display: inline-block;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 100px;
    background-color: #007bfb;
    color: white;
    text-align: center;
    
}

